# Database
DATABASE_URL=""

# Web
WEB_APP_URL=""
APP_URL=""

# Authentication
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="" 
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Redis
REDIS_HOST=""
REDIS_PORT=""
REDIS_USERNAME=""
REDIS_PASSWORD=""

# kafka ( for -> docker )
KAFKA_BROKER=""

# Email Service
USER_APP_EMAIL=""
USER_APP_PASS=""

